@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    color: #000000;
    background-color: #ffffff;
    line-height: 1.5;

    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
    outline: none;
    border: none;
    background: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


/* ACESSIBILIDADE */
:focus {
   outline: 2px solid #000000;
}



/* HEADER */
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: #f7f7f7;


    min-width: 100%;

    padding: 1rem 2rem;
}

header section {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
    height: 100%;
}

header section img {
    width: 60%;
    height: 100%;

    object-fit: contain;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.2em;

    height: 100%;

    padding: 0.5em;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0.5em;

    width: 100%;

    color: #555;
}



/* MAIN */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: #f7f7f7;

    min-height: 100dvh;

    width: 100%;

    gap: 1.5em;

    padding: 5rem 2rem;
}

.hero article h1 {
    font-size: 2.5em;
    font-weight: bold;

    line-height: 1.2em;
}

.hero article a {
    display: flex;
    justify-content: center;
    text-align: center;

    font-size: 1em;
    color: #ffffff;

    margin-top: 0.5em;
    padding: 1em;
    border-radius: 0.5em;
    background-color: #ff3c3c;
}

.hero img {
    height: 30%;
}



.sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    min-height: 100vh;

    padding: 2rem;
}

.sobre h2 {
    font-size: 3em;
}

.sobre p {
    font-size: 1.4em;
}



.servicos {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    gap: 1em;

    min-height: 100vh;

    padding: 2rem;
}

.servicos article {
    color: #f7f7f7;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    text-align: center;

    height: 100%;

    padding: 2rem;
    border-radius: 0.5rem;
}

.servicos article h3 {
    font-size: 2em;
    font-weight: bold;
}

.servicos article p {
    font-size: 1.5em;
}

.branding {
    background-color: #ff3c3c;
    
}

.design {
    background-color: #9b9b99;
    
}

.sites {
    background-color: #000000;
    
}



.depoimentos {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    min-height: 100vh;  

    padding: 2rem;
    gap: 2em;
}

.depoimentos h2 {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: 2.5em;
}

.depoimentos ul {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    gap: 1em;

    width: 90%;
    height: 100%;
}

.depoimentos ul li {
    display: flex;
    flex-direction: column;

    width: 85%;
    max-width: 30em;
    padding: 1.5em;

    background-color: #f7f7f7;
    border-radius: 10px;
}



.contato {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    text-align: center;

    color: #ffffff;
    background-color: #000000;

    width: 100%;
    min-height: 100vh;

    padding: 2rem;
}

.contato h2 {
    font-size: 1.8em;
    padding: 0.5em;
}

.contato form {
    display: flex;
    align-items: center;
    
    justify-content: space-around;
    flex-direction: column;

    padding: 1.5em;

    background-color: #ffffff;
    border-radius: 20px;
    gap: 1em;

    width: 80%;
    max-width: 30em;
}

.contato form,
.contato input,
.contato textarea {
    font-size: 1em;
    font-style: italic;
    text-align: center;

}
.contato input {
    width: 100%;
    height: 3em;
}

.contato input, .contato textarea {
    border-radius: 5px;
    background-color: #f7f7f7;
}

.contato textarea {
    font-style: normal;

    min-width: 100%;

    width: 100%;
    height: 8em;

    max-width: 100%;
    max-height: 15em;

    text-align: start;

    padding: 0.8em;
}

.contato button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: #ffffff;
    font-size: 1em;

    padding: 1em 2em;
    border-radius: 0.5em;
    background-color: #ff3c3c;

}



/* FOOTER */
footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    
    background-color: #f7f7f7;

    width: 100%;

    gap: 1.5em;

    padding: 2rem; 
}

footer p {
    color: #9b9b99;
}

footer h3 {
    font-size: 1em;
}

.logoFooter {
    width: 90%;
}

.logoFooter img {
    width: 100%;
    height: auto;

    object-fit: contain;
}



/* MEDIA QUERIES */

/* ===== TABLET ===== */
@media (min-width: 768px) {
    /* HEADER */
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .logoNav{
        display: flex;
        justify-content: flex-start;

        padding-left: 1rem;

        width: 50%;
    }

    /* BODY */
    .hero {
        padding: 5rem 3rem;
        display: flex;
        flex-direction: row;
    }

    /* FOOTER */
    .logoFooter img{
        width: 60%;
    }
}

/* ===== DESKTOP ===== */
@media (min-width: 1024px) {
    /* HEADER */
    header section img {
        width: 30%;
    }

    header nav {
        width: 30%;
    }

    header nav ul {
        justify-content: space-around;
    }



    /* MAIN */
    .hero {
        height: 100vh;
        justify-content: center;
        padding: 0;
    }

    .hero article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        
        width: 30%;
        height: 100%;
    }

    .hero article h3 {
        font-size: 4em;
        line-height: 1.3em;
    }

    .hero img {
        height: auto;
        display: flex;
        justify-content: center;
    }



    .sobre h2 {
        font-size: 5rem;
    }

    .sobre p {
        width: 50%;
    }



    .servicos {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 2rem;

        width: 80%;
        margin: 0 auto;
        padding: 6rem 0;
    }

    .servicos article {
        color: #f7f7f7;
        padding: 2rem;
        border-radius: 0.5rem;
    }

    .servicos article h3 {
        font-size: 3rem;
    }

    .branding {
        color: #f7f7f7;
        background-color: #ff3c3c;
    }

    .design {
        background-color: #9b9b99;
    }

    .sites {
        background-color: #000000;
    }



    .depoimentos h2 {
        font-size: 4rem;
    }


    .contato h2 {
        font-size: 3rem;
    }

    .contato form {
        width: 100%;
        max-width: 35rem;
    }

    .contato textarea {
        height: 15rem;
    }


    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    footer p {
        text-align: center;
    }

    footer section p {
        text-align: start;
        width: 60%;
    }

    .logoFooter {
        width: 40%;
    }

    .logoFooter img {
        width: 50%;
    }
}