@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    color: #000000;
    background-color: #ffffff;
    line-height: 1.5;

    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
    outline: none;
    border: none;
    background: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


/* ACESSIBILIDADE */
:focus {
   outline: 2px solid #000000;
}


/* UTILS */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* HEADER */
.header {
    flex-direction: column;
    justify-content: space-between;

    background-color: #f7f7f7;

    min-width: 100%;

    padding: 1rem 2rem;
}

.header__logo{
    width: 90%;
    height: 100%;
}

.header__logo-image{
    width: 60%;
    height: 100%;

    object-fit: contain;   
}

.header__nav {
    font-size: 1.2em;

    height: 100%;

    padding: 0.5em;
}

.header__menu {
    gap: 0.5em;

    width: 100%;

    color: #555;
}



/* MAIN */
.hero {
    flex-direction: column;
    justify-content: space-between;

    background-color: #f7f7f7;

    min-height: 100dvh;
    width: 100%;

    gap: 1.5em;
    padding: 5rem 2rem;
}

.hero__title {
    font-size: 2.5rem;
    font-weight: bold;

    line-height: 1.2em;
}

.hero__cta {
    font-size: 1em;
    color: #ffffff;

    margin-top: 0.5em;
    padding: 1em;
    border-radius: 0.5em;
    background-color: #ff3c3c;
}

.hero__image {
    width: 100%;
    height: auto;
}



.about {
    flex-direction: column;
    text-align: center;

    min-height: 100vh;

    padding: 2rem;
}

.about__title {
    font-size: 3em;
}

.about__text {
    font-size: 1.4em;
}



.services {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    gap: 1em;

    min-height: 100vh;

    padding: 2rem;
}

.services__card {
    color: #f7f7f7;

    /* Display Flex dentro do Card por fator de legibilidade do HTML*/
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
    text-align: center;

    height: 100%;

    padding: 2rem;
    border-radius: 0.5rem;
}

.services__title {
    font-size: 2em;
    font-weight: bold;
}

.services__text {
    font-size: 1.5em;
}

.services__card--branding {
    background-color: #ff3c3c;
}

.services__card--design {
    background-color: #9b9b99;
}

.services__card--sites {
    background-color: #000000;
}



.testimonials {
    flex-direction: column;
    min-height: 100vh;  
    padding: 2rem;
    gap: 2em;
}

.testimonials__title {
    text-align: center;
    font-size: 2.5em;
}

.testimonials__list {
    flex-direction: column;
    gap: 1em;
    width: 90%;
    height: 100%;
}

.testimonials__client {
    display: flex;
    flex-direction: column;

    width: 85%;
    max-width: 30em;
    padding: 1.5em;

    background-color: #f7f7f7;
    border-radius: 10px;
}



.contact {
    flex-direction: column;
    text-align: center;

    color: #ffffff;
    background-color: #000000;

    width: 100%;
    min-height: 100vh;

    padding: 2rem;
}

.contact__title {
    font-size: 1.8em;
    padding: 0.5em;
}

.contact__form {
    justify-content: space-around;
    flex-direction: column;

    padding: 1.5em;

    font-size: 1em;
    font-style: italic;

    background-color: #ffffff;
    border-radius: 20px;
    gap: 1em;

    width: 80%;
    max-width: 30em;
}

.contact__input {
    width: 100%;
    height: 3em;
}

.contact__input, .contact__textarea {
    border-radius: 5px;
    background-color: #f7f7f7;
    text-align: center;
}

.contact__textarea {
    font-style: italic;

    min-width: 100%;

    width: 100%;
    height: 8em;
    max-width: 100%;
    max-height: 15em;

    text-align: start;

    padding: 0.8em;
}

.contact__button {
    text-align: center;

    font-size: 1em;
    
    padding: 1em 2em;
    
    color: #ffffff;
    border-radius: 0.5em;
    background-color: #ff3c3c;
}



.footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    
    background-color: #f7f7f7;

    width: 100%;

    gap: 1.5em;

    padding: 2rem; 
}

.footer__title {
    font-size: 1em;
}

.footer__text {
    color: #9b9b99;
}

.footer__content {
    width: 90%;
}

.footer__image {
    width: 100%;
    height: auto;

    object-fit: contain;
}

/* MEDIA QUERIES */
/* ===== TABLET ===== */
@media (min-width: 768px) {
    /* HEADER */
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;    
    }

    .header__logo {
        display: flex;
        justify-content: flex-start;

        padding-left: 1rem;

        width: 50%;
    }

    /* BODY */
    .hero {
        padding: 5rem 3rem;
        display: flex;
        flex-direction: row;
    }

    /* FOOTER */
    .footer__content {
        width: 60%;
    }
}

/* ===== DESKTOP ===== */
@media (min-width: 1024px) {
    /* HEADER */
    .header__logo-image {
        width: 30%;
    }

    .header__nav {
        width: 30%;
    }

    .header__menu {
        justify-content: space-around;
    }


    /* MAIN */
    .hero {
        height: 100vh;
        justify-content: center;
        padding: 0;
    }

    .hero__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        
        width: 30%;
        height: 100%;
    }

    .hero__title {
        font-size: 4em;
        line-height: 1.3em;
    }

    .hero__image {
        height: auto;
        display: flex;
        justify-content: center;
    }


    .about__title {
        font-size: 5rem;
    }

    .about__text {
        width: 50%;
    }

    
    .services {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 2rem;

        width: 80%;
        margin: 0 auto;
        padding: 6rem 0;
    }

   .services__card {
        color: #f7f7f7;
        padding: 2rem;
        border-radius: 0.5rem;
    }

    .services__title {
        font-size: 3rem;
    }


    .testimonials__title {
        font-size: 4rem;
    }


    .contact__title {
        font-size: 3rem;
    }

    .contact__form {
        width: 100%;
        max-width: 35rem;
    }

    .contact__textarea {
        height: 15rem;
    }


    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .footer__text {
        text-align: center;
    }

    .footer__logo-text {
        text-align: start;
        width: 60%;
    }

    .footer__content{
        width: 40%;
    }

    .footer__image {
        width: 50%;
    }
}